$base-shadow: rgb(38 57 77) 0 20px 30px -10px;
$small-shadow:
  rgb(50 50 93 / 25%) 0 50px 100px -20px,
  rgb(0 0 0 / 30%) 0 30px 60px -30px;
$image-shadow:
  rgb(14 30 37 / 12%) 0 2px 4px 0,
  rgb(14 30 37 / 32%) 0 2px 16px 0;
